.bg-green{
  background-color: rgb(109, 122, 168);
}

a{
  color: rgb(136, 147, 156) !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
a:link {
  color: rgb(234, 248, 231) !important;
}

/* visited link */
a:visited {
  color: rgb(232, 233, 247) !important;
}

.content{
  margin-top: 20px;
  padding: 30px;
  overflow: hidden;
}
/* mouse over link */
a:hover {
  color: rgb(194, 204, 219) !important;
}

/* selected link */
a:active {
  color: rgb(242, 244, 250) !important;
}